<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">

<body>

<div class="w3-container w3-card">
  <h1>(Logo) ___ X-Marketing</h1>
</div>

<div class="w3-container">
<hr>
<div class="w3-cell-row">
  Visitor name:
  <input type="text" name="visitor_name" value="{{data.visitor_name}}">
  <br>
  Company name:
  <input type="text" name="company_name" value="{{data.company_name}}">
  <br>
  Title:
  <input type="text" name="title" value="{{data.title}}">
  <br>
  E-mail:
  <input type="text" name="email" value="{{data.email}}">
  <br>
  Phone:
  <input type="text" name="telephone" value="{{data.telephone}}">
  <br>
  Mobile:
  <input type="text" name="mobile" value="{{data.mobile}}">
  <br>
  Address:
  <input type="text" name="address" value="{{data.address}}">
  <br>
  Website:
  <input type="text" name="website" value="{{data.website}}">
  <br>
  Applications:
  <input type="text" name="application" value="Mouse">
  <br>
  Products:
  <select name="product">
  <option value="EPCalin">EPCalin</option>
  <option value="Monk">Monk Fruitevia</option>
  <option value="Rubu">Rubu-solution</option>
  <option value="EPColor">EPColor</option>
  </select><!--多选吧-->
  <br>
  Preferences:
  <select name="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="fiat">Fiat</option>
  <option value="audi">Audi</option>
  </select><!--多选吧，写死吧，内容待定-->
  <br><br>
  <input type="submit" value="Submit">
</div>


</body>
