<!-- background and button -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="{{ url_for('static', filename='scripts/flexible.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/app.css') }}">
</head>
<body>
  <div class="app-main">
    
    <h1 class="logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="EPC">
    </h1>
    <div class="logo__secondary">
      <img src="{{ url_for('static', filename='images/logo-secondary.png') }}" alt="IFT">
    </div>

    <div class="btn-wrapper">
      <label for="card" class="btn">Business Card Record</label>
      <input type="file" name="card" id="card">
    </div>
  </div>
</body>
</html>
